@import "./global";

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 6.6rem;
}

.hero {
    height: 23rem;
    min-width: 37.5rem;
    background: url("/assets/illustration-hero-mobile.png");
    background-size: cover;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    width: 87.2%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .love {
        color: $accent;
    }

    h5 {
        color: #777F98;
        font-size: 1.5rem;
        font-weight: 200;
        margin-top: 2rem;
    }
}

.squiggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits {
    width: 87.2%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .benefit {
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;

        h3 {
            margin: 1.8rem;
            font-size: 1.8rem;
            font-weight: 800;
        }

        p {
            color: #777F98;
            font-size: 1.5rem;
            font-weight: 200;
        }
    }
}

.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $icons-background;
    min-width: 12rem;
    min-height: 12.4rem;
    border-radius: 2rem;

    img {
        width: 6.6rem;
        height: 8rem;
    }
}

.illustration-freedom img {
    width: 5.6rem;
    height: 6.7rem;
}

.illustration-lifestyle img {
    width: 6rem;
    height: 7.1rem;
}

.illustration-remote img {
    width: 7.8rem;
    height: 5.6rem;
}

.pricing {
    width: 87.2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pricing-head {
        text-align: center;

        h2 {
            font-size: 2.4rem;
            font-weight: 800;
            margin-bottom: 2rem;
        }

        h5 {
            color: #777F98;
            font-size: 1.5rem;
            font-weight: 200;
        }
    }

    .card {
        height: 43.6rem;
        border-radius: .8rem;
        margin-bottom: 6rem;
        max-width: 44.5rem;

        h4 {
            font-size: 1.8rem;
            font-weight: 800;
            margin-bottom: 2rem;
        }

        h5 {
            font-size: 1.5rem;
            font-weight: 200;
            margin-bottom: 3rem;
        }

        h3 {
            display: flex;
            align-items: center;
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 2rem;

            span {
                margin-left: .5rem;
                font-size: 1.5rem;
                font-weight: 200;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: 200;
            line-height: 3rem;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 1.515rem;
                    height: 1.111rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .info {
        width: 81.65%;
        margin: auto;
        margin-top: 6rem;
    }

    .pricing-card1 {
        background-color: #093F68;
        margin-top: 6rem;


        h5 {
            margin-bottom: 6rem;
        }

        .icon1 {
            margin-top: -8.2rem;
            margin-bottom: 4rem;
        }
    }

    .pricing-card2 {
        color: #080C20;
        background-color: #3EE9E5;
        margin-bottom: 5rem;

        .icon2 {
            margin-top: -9.2rem;
            margin-bottom: 4rem;
        }
    }
}

.get-notified {
    width: 100%;
    background: url("/assets/bg-footer-squiggle.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 22rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        width: 60%;
        font-size: 2.4rem;
        text-align: center;
        font-weight: 800;
        margin-top: .8rem;
        margin-bottom: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 2rem;
            width: 32rem;
            height: 4.8rem;
            border-radius: 2.4rem;
            border: none;
        }
    }

    #email {
        padding: 2rem;
        background-color: #093F68;
        color: rgba(255, 255, 255, 0.5);
    }
    
    #submit {
        background-color: #3EE9E5;
        color: #093F68;
    }
}

@media (min-width: 768px) {
    header {
        width: 100%;
        overflow: hidden;
    }
    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 35.7rem;
        max-width: 110.8rem;
        background: url("/assets/illustration-hero-left.svg"), url("/assets/illustration-hero-right.svg"), url("/assets/bg-hero-squiggle.svg");
        background-position: left, right, center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: -40%, 138%, 50%;
    }

    .hero-text {
        width: 50%;
        margin: auto;
        margin-top: -30rem;
        margin-bottom: 5rem;
    }

    .benefits {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 5rem;
    
        .benefit {
            height: 12.3rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            margin-bottom: 4rem;
        }
    }

    .benefit-passions,
    .benefit-lifestyle {
        padding-left: 5.8rem;
    }

    .pricing {
        width: 75%;
    }
    
    .get-notified {
        background-size: 140%;
        background-position: 100%;
        height: 14rem;
    
        form {
            flex-direction: row;
        }
    
        #email {
            margin-right: 2rem;
        }
        
        #submit {
            width: 14rem;
        }
    }
}



// .benefits {
//     width: 87.2%;
//     margin: auto;
//     margin-top: 10rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;

//     .benefit {
//         height: 25rem;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         text-align: center;
//         margin-bottom: 4rem;

//         h3 {
//             margin: 1.8rem;
//             font-size: 1.8rem;
//             font-weight: 800;
//         }

//         p {
//             color: #777F98;
//             font-size: 1.5rem;
//             font-weight: 200;
//         }
//     }
// }