* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #080C20;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  margin-bottom: 6.6rem;
}

.hero {
  height: 23rem;
  min-width: 37.5rem;
  background: url("/assets/illustration-hero-mobile.png");
  background-size: cover;
}

.hero-text {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  width: 87.2%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.hero-text .love {
  color: #3EE9E5;
}

.hero-text h5 {
  color: #777F98;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits {
  width: 87.2%;
  margin: auto;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits .benefit {
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.benefits .benefit h3 {
  margin: 1.8rem;
  font-size: 1.8rem;
  font-weight: 800;
}

.benefits .benefit p {
  color: #777F98;
  font-size: 1.5rem;
  font-weight: 200;
}

.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #093F68;
  min-width: 12rem;
  min-height: 12.4rem;
  border-radius: 2rem;
}

.illustration img {
  width: 6.6rem;
  height: 8rem;
}

.illustration-freedom img {
  width: 5.6rem;
  height: 6.7rem;
}

.illustration-lifestyle img {
  width: 6rem;
  height: 7.1rem;
}

.illustration-remote img {
  width: 7.8rem;
  height: 5.6rem;
}

.pricing {
  width: 87.2%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .pricing-head {
  text-align: center;
}

.pricing .pricing-head h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.pricing .pricing-head h5 {
  color: #777F98;
  font-size: 1.5rem;
  font-weight: 200;
}

.pricing .pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .card {
  height: 43.6rem;
  border-radius: .8rem;
  margin-bottom: 6rem;
  max-width: 44.5rem;
}

.pricing .card h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.pricing .card h5 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 3rem;
}

.pricing .card h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.pricing .card h3 span {
  margin-left: .5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.pricing .card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 3rem;
}

.pricing .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .card ul li img {
  width: 1.515rem;
  height: 1.111rem;
  margin-right: 1rem;
}

.pricing .info {
  width: 81.65%;
  margin: auto;
  margin-top: 6rem;
}

.pricing .pricing-card1 {
  background-color: #093F68;
  margin-top: 6rem;
}

.pricing .pricing-card1 h5 {
  margin-bottom: 4rem;
}

.pricing .pricing-card1 .icon1 {
  margin-top: -8.2rem;
  margin-bottom: 4rem;
}

.pricing .pricing-card2 {
  color: #080C20;
  background-color: #3EE9E5;
  margin-bottom: 5rem;
}

.pricing .pricing-card2 .icon2 {
  margin-top: -9.2rem;
  margin-bottom: 4rem;
}

.get-notified {
  width: 100%;
  background: url("/assets/bg-footer-squiggle.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  height: 22rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-notified h3 {
  width: 60%;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 800;
  margin-top: .8rem;
  margin-bottom: 3rem;
}

.get-notified form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-notified form input {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  width: 32rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  border: none;
}

.get-notified #email {
  padding: 2rem;
  background-color: #093F68;
  color: rgba(255, 255, 255, 0.5);
}

.get-notified #submit {
  background-color: #3EE9E5;
  color: #093F68;
}

@media (min-width: 768px) {
  header {
    width: 100%;
    overflow: hidden;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35.7rem;
    background: url("/assets/illustration-hero-left.svg"), url("/assets/illustration-hero-right.svg"), url("/assets/bg-hero-squiggle.svg");
    background-position: left, right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -20%, 120%, 50%;
  }
  .hero-text {
    width: 50%;
    margin: auto;
    margin-top: -30rem;
    margin-bottom: 5rem;
  }
  .benefits {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5rem;
  }
  .benefits .benefit {
    height: 12.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    text-align: left;
  }
  .benefits .benefit h3 {
    margin-left: 5.5rem;
    font-size: 1.8rem;
    font-weight: 800;
  }
  .benefits .benefit p {
    margin-left: 5.5rem;
  }
  .benefit-passions,
  .benefit-lifestyle {
    margin-left: 5.8rem;
  }
  .text-passions,
  .text-lifestyle {
    min-width: 34rem;
  }
  .pricing {
    width: 75%;
  }
  .get-notified {
    background-size: 140%;
    background-position: 100%;
    height: 14rem;
  }
  .get-notified form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .get-notified #email {
    margin-right: 2rem;
  }
  .get-notified #submit {
    width: 14rem;
  }
}

@media (min-width: 1120px) {
  .hero {
    height: 45.9rem;
    background-position-x: -5%, 105%, center;
  }
  .hero-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: -30rem;
    margin-bottom: 5rem;
  }
  .hero-text h2 {
    width: 40%;
    font-size: 4.8rem;
  }
  .hero-text h5 {
    width: 37.5%;
  }
  .benefits {
    width: 77%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .benefits .benefit {
    height: 33.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .illustration {
    -ms-flex-item-align: start;
        align-self: flex-start;
    min-width: 16rem;
    min-height: 16.4rem;
    border-radius: 2rem;
  }
  .illustration img {
    width: 8.8rem;
    height: 10.6rem;
  }
  .illustration-freedom img {
    width: 7.4rem;
    height: 8.9rem;
  }
  .illustration-lifestyle img {
    width: 8rem;
    height: 9.4rem;
  }
  .illustration-remote img {
    width: 10.4rem;
    height: 7.4rem;
  }
  .benefit-passions,
  .benefit-lifestyle,
  .benefit-freedom,
  .benefit-remote {
    width: 25.5rem;
  }
  .benefit-freedom,
  .benefit-remote {
    margin-top: 4.8rem;
  }
  .benefit-passions,
  .benefit-lifestyle {
    margin-left: 0rem;
  }
  .text {
    margin: 2rem 2rem 0 0;
  }
  .text p {
    width: 23.5rem;
  }
  .text h3 {
    width: 25.5rem;
  }
  .pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 64%;
  }
  .pricing .pricing-head {
    width: 54rem;
    margin-bottom: 5rem;
  }
  .pricing .pricing-head h2 {
    font-size: 3.2rem;
  }
  .pricing .pricing-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pricing .pricing-card1,
  .pricing .pricing-card2 {
    height: 42.5rem;
    width: 44.5rem;
    margin: 5rem;
  }
  .pricing .pricing-card2 {
    height: 44.9rem;
  }
  .get-notified {
    background-size: 100%;
    height: 22.8rem;
  }
}
/*# sourceMappingURL=style.css.map */